$lf-yellow: hsl($hue, 91%, 61.8%);
$lf-blue: shade($blue, 23.6%);

.less-framework .chunk-title {
  color: $lf-yellow;
}

.less-framework .c-column {
  background: $lf-blue;
  animation: none $loop-time*0.5 $loop-easing infinite alternate;

  &:nth-child(4),
  &:nth-child(5)  { animation-name: lfColumnHighlight5; }

  &:nth-child(6),
  &:nth-child(7),
  &:nth-child(8)  { animation-name: lfColumnHighlight8; }

  &:nth-child(9),
  &:nth-child(10) { animation-name: lfColumnHighlight10; }
}

@keyframes lfColumnHighlight5 {
  0%, 18% { background: $off-background; }
  27%     { background: $lf-blue; }
}

@keyframes lfColumnHighlight8 {
  0%, 58% { background: $off-background; }
  66%     { background: $lf-blue; }
}

@keyframes lfColumnHighlight10 {
  0%, 87% { background: $off-background; }
  95%, 100% { background: $lf-blue; }
}
