$c-column-width: 10%;

@keyframes lfBrowserResize {
  0%   { width: $c-column-width*3; }
  23%  { width: $c-column-width*5; }
  62%  { width: $c-column-width*8; }
  91%, 100% { width: $c-column-width*10; }
}

.c-grid {
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.c-column {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: $c-column-width;
  background: $off-background;

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0; bottom: 0;
    width: 1px;
    background: $card-background;
  }

  &:before { left: 0; }
  &:after  { right: 0; }
}
