@font-face {
  font-family: 'Elena';
  font-weight: normal;
  font-style: normal;
  src:
    url('ElenaWebBasic/ElenaWebBasicRegular.woff')  format('woff'),
    url('ElenaWebBasic/ElenaWebBasicRegular.woff2') format('woff2')
  ;
}

@font-face {
  font-family: 'Elena';
  font-weight: normal;
  font-style: italic;
  src:
    url('ElenaWebBasic/ElenaWebBasicRegularItalic.woff')  format('woff'),
    url('ElenaWebBasic/ElenaWebBasicRegularItalic.woff2') format('woff2')
  ;
}

@font-face {
  font-family: 'Elena';
  font-weight: bold;
  font-style: normal;
  src:
    url('ElenaWebBasic/ElenaWebBasicBold.woff')  format('woff'),
    url('ElenaWebBasic/ElenaWebBasicBold.woff2') format('woff2')
  ;
}

// @font-face {
//   font-family: 'Elena';
//   font-weight: bold;
//   font-style: italic;
//   src:
//     url('ElenaWebBasic/ElenaWebBasicBoldItalic.woff')  format('woff'),
//     url('ElenaWebBasic/ElenaWebBasicBoldItalic.woff2') format('woff2')
//   ;
// }

@font-face {
  font-family: 'Nitti Light';
  font-weight: normal;
  font-style: normal;
  src:
    url('nitti-light-v400-web/nitti-light-v40.woff')  format('woff'),
    url('nitti-light-v400-web/nitti-light-v40.woff2') format('woff2')
  ;
}
