@charset "utf-8";

@-ms-viewport {width: device-width;}
    @viewport {width: device-width;}

//
// Normalization & resets for annoyances

@import "normalize";

html * {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
  line-height: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

textarea { resize: vertical; }

//
// Em conversion functions
// pixels to ems & baselines to ems

$font-size: 16;
$line-height: 22;

@function em($pixels, $context-font-size: $font-size) {
  @return ($pixels / $context-font-size) * 1em;
}

@function lines($lines, $context-font-size: $font-size,  $context-line-height: $line-height) {
  @return $lines * ($context-line-height / $context-font-size) * 1em;
}

@function rem($factor, $context-font-size: $font-size) {
  @return ($factor * $context-font-size) / $context-font-size * 1em;
}

//
// Variables

$max-width: lines(40);
$baseTransitionTime: 0.414;

//
// Typography

@import "fonts";

@mixin text-font      { font-family: Elena, serif; }
@mixin monospace-font { font-family: Menlo, Consolas, monospace, monospace; }

//
// Colors

$hue-main: 45;

// quarters
$hue-25: $hue-main + (360 * 0.25);
$hue-50: $hue-main + (360 * 0.5);
$hue-75: $hue-main + (360 * 0.75);

// golden ratio ^n
$hue-979: $hue-main + (360 * 0.979);
$hue-965: $hue-main + (360 * 0.965);
$hue-944: $hue-main + (360 * 0.944);
$hue-910: $hue-main + (360 * 0.910);
$hue-854: $hue-main + (360 * 0.854);
$hue-764: $hue-main + (360 * 0.764);
$hue-618: $hue-main + (360 * 0.618);
$hue-382: $hue-main + (360 * 0.382);
$hue-236: $hue-main + (360 * 0.236);
$hue-136: $hue-main + (360 * 0.146);
$hue-090: $hue-main + (360 * 0.090);
$hue-056: $hue-main + (360 * 0.056);
$hue-034: $hue-main + (360 * 0.034);
$hue-021: $hue-main + (360 * 0.021);

// sqrt(2)
$hue-586: $hue-main + (360 * 0.586);
$hue-414: $hue-main + (360 * 0.414);

$background: hsl($hue-618, 38.2%, 5.6%);
$highlight:  hsl($hue-618, 23.6%, 14.6%);
$border:     hsl($hue-618, 23.6%, 23.6%);

$aside:     hsl($hue-main, 5.6%, 50%);
$body:      hsl($hue-main, 9%, 61.8%);
$emphasis:  hsl($hue-main, 14.6%, 76.4%);

$purple: hsl($hue-618, 61.8%, 23.6%);
$link:   hsl($hue-618, 85.4%, 61.8%);

//
// Media queries

$xxs:      "screen and (max-width: 317px)";
$xs:       "screen and (min-width: 318px)";
$s:        "screen and (min-width: 478px)";

$m:        "screen and (min-width: 560px)";

$l:        "screen and (min-width: 780px)";
$xl:       "screen and (min-width: 960px)";
$xxl:      "screen and (min-width: 1100px)";
$xxxl:     "screen and (min-width: 1200px)";
$xxxxl:    "screen and (min-width: 1400px)";
$xxxxxl:   "screen and (min-width: 1700px)";
$xxxxxxl:  "screen and (min-width: 2000px)";

//
// Basic styles

html,
body {
  height: 100%;
}

html {
  background: $background;
}

body {
  @include text-font;
  font-size: em($font-size, 16);
  line-height: $line-height/$font-size;
  color: $body;
  -webkit-tap-highlight-color: transparentize($link, 0.5);
  position: relative;
  perspective: 1000;
}

a {
  color: $link;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $emphasis;
  }

  &:active {
    color: $aside;
  }
}

h1, h2, h3, h4, h5, h6,
strong, b {
  color: $emphasis;
}

code {
  @include monospace-font;
}

::selection      { background: $link; color: $emphasis; }
-moz-::selection { background: $link; color: $emphasis; }

/////////////////////////////////////////////////////////

h1 {
  font-size: em(42);
  line-height: lines(2, 42);
}

@mixin size ($ratio, $w-size:1, $h-size:1) {
  width:  100vw * $ratio * $w-size;
  height: 100vh * $ratio * $h-size;
  // font-size: 3vmin * $ratio;

  & > .zoomable-content {
    transform: scale( $ratio );
  }
}

html,
.target-canvas {
  background-color: $highlight;
  // background: radial-gradient(ellipse, $highlight 61.8%, $background);
}

.site-viewport {
  position: absolute;
  left: 0; top: 0; right: 0;
  height: 100vh;
  overflow: hidden;
}

.site-canvas {
  width: 100vw;
  height: 100vh;
  position: relative;
  transform: translate3d(0,0,0);
  z-index: 10;
}

.target-canvas {
  position: relative;
  z-index: 20;

  .index & {
    display: none;
  }

  & > .zoomable {
    width: auto;
    height: auto;
    float: none;
    min-height: 100vh;

    & > .zoomable-content {
      position: static;
      width: auto;
      height: auto;
      transform: none;
    }
  }
}

.ui-canvas {
  position: fixed;
  left: 0; bottom: 0;
  z-index: 30;
}

#zoom-out {
  display: none;

  .awesome & {
    display: block;
  }

  .initial-zoom & {
    display: none;
  }
}

.home-link {
  .awesome & {
    display: none;
  }
}

.initial-zoomable {
  overflow: hidden;
}

.card-header {
  @include size(1/5, 5, 2);
  float: left;
  display: table;

  // .zoomable & {
  //   @include size( (1/4), 4 );
  // }
}

.card-header-wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  // font-size: 4em;
}

.zoomable {
  @include size(1/5);
  float: left;
  position: relative;
  overflow: hidden;

  // .zoomable {
  //   @include size( (1/4) * (1/4) );
  // }
}

.zoomable-content {
  width: 100vw;
  height: 100vw;
  transform-origin: left top;
  position: absolute;
  text-align: center;
}

.fake-paragraphs {
  max-width: 34em;
  margin: 0 auto;
  padding: lines(3) lines(2);
}

.zoomable-anchor {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  border: 1px solid transparent;
  z-index: 1000;
  transition: background-color #{$baseTransitionTime}s ease-out;
  display: block;

  .current-zoomable > &,
  .target-canvas > .zoomable > & {
    display: none;
  }

  &:hover,
  &:focus {
    cursor: zoom-in;
    border-color: $link;
    z-index: 1001;
  }
}
