@charset "utf-8";
@viewport {width: device-width;}

//
// General variables

$font-size-multiplier: 16/16;
$line: 1.382rem;
$narrower-word-spacing: -0.146em;
$max-width: $line * 28;

$masthead-height: 14.6%;
$new-height:      38.2%;
$tags-height:     100% - $masthead-height - $new-height;

$card-padding: 3.4%;

$main-easing:        cubic-bezier(0.236, 0.000, 0.236, 1.000);
$reverse-easing:     $main-easing;
$loop-easing:        ease-in-out;
$zoomEffects-easing: cubic-bezier(0.000, 0.000, 0.854, 1.000);

$main-time: 262ms;
$short-time: 162ms;
$loop-time: 6000ms;

//
// Hues

$hue: 45;

$hue-xxxxx-high: $hue + (360 * 0.979);
$hue-xxxx-high: $hue + (360 * 0.965);
$hue-xxx-high: $hue + (360 * 0.944);
$hue-xx-high: $hue + (360 * 0.91);
$hue-x-high: $hue + (360 * 0.854);
$hue-high:  $hue + (360 * 0.764);

$hue-quarter-high: $hue + (360 * 0.75);
$hue-golden-high:  $hue + (360 * 0.618);
$hue-sqrt-high:    $hue + (360 * 0.586);

$hue-opposite:     $hue + (360 * 0.5);

$hue-sqrt-low:     $hue + (360 * 0.414);
$hue-golden-low:   $hue + (360 * 0.382);
$hue-quarter-low:  $hue + (360 * 0.25);

$hue-low:   $hue + (360 * 0.236);
$hue-x-low:  $hue + (360 * 0.146);
$hue-xx-low:  $hue + (360 * 0.09);
$hue-xxx-low:  $hue + (360 * 0.056);
$hue-xxxx-low:  $hue + (360 * 0.034);
$hue-xxxxx-low:  $hue + (360 * 0.021);

$background:      hsl($hue-golden-high, 50%, 23.6%);
$off-background:  hsl($hue-golden-high, 23.6%, 14.6%);
$card-background: hsl($hue-golden-high, 50%, 9%);

$bright: hsl($hue, 23.6%, 76.4%);
$body:   hsl($hue, 5.6%, 61.8%);
$dim:    hsl($hue, 3.4%, 50%);

$purple-bright: hsl($hue-golden-high, 23.6%, 76.4%);
$purple-body:   hsl($hue-golden-high, 14.6%, 61.8%);
$purple-dim:    hsl($hue-golden-high, 9%, 50%);

$yellow: hsl($hue,          41.4%, 50%);
$orange: hsl($hue-xxx-high, 41.4%, 50%);
$red:    hsl($hue-x-high,   38.2%, 50%);
$blue:   hsl($hue-opposite, 61.8%, 61.8%);
$cyan:   hsl($hue-sqrt-low, 38.2%, 50%);
$green:  hsl($hue-low,      23.6%, 50%);
$purple: hsl($hue-golden-high, 50%, 66.6%);

$shadow:      hsl($hue-golden-high, 50%, 5.6%);
$border:      hsl($hue-golden-high, 14.6%, 33.3%);

$highlight: hsl($hue, 76.4%, 61.8%);
$purple-highlight: hsl($hue-golden-high, 38.2%, 50%);
$blue-highlight: hsl($hue-opposite, 91%, 66.6%);

$card-fence: $blue-highlight;
$card-highlight: $blue-highlight;
$card-glow: $purple-highlight;
$card-border: $border;

//
// Media queries

$xs2:  "#{317 / 16 * 1em}";
$xs:   "#{318 / 16 * 1em}";
$s:    "#{478 / 16 * 1em}";
$m:    "#{560 / 16 * 1em}";
$l:    "#{740 / 16 * 1em}";
$xl:   "#{960 / 16 * 1em}";
$xl2: "#{1100 / 16 * 1em}";
$xl3: "#{1200 / 16 * 1em}";
$xl4: "#{1400 / 16 * 1em}";
$xl5: "#{1700 / 16 * 1em}";
$xl6: "#{1900 / 16 * 1em}";
$xl7: "#{2300 / 16 * 1em}";

$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

//
// Imports

@import "reset";
@import "fonts";
@import "syntax";
@import "covers-shared";
@import "covers/*";

//
// Font families

html {
  font-family: "Elena", "Times New Roman", serif;
}

@mixin mono {
  font-family: "Nitti Light", Menlo, Consolas, monospace, monospace;
  letter-spacing: -0.5px;
}

.mono,
code, pre,
a:after {
  @include mono;
}

//
// Basic styles

html {
  font-size: 100% * $font-size-multiplier;
  line-height: $line;
  background: $background;
  color: $body;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  @media (max-width: #{$s}) {
    font-size: 100% * $font-size-multiplier * 0.91;
    line-height: $line * 0.91;
  }

  @media (max-width: #{$xs2}) {
    font-size: 100% * $font-size-multiplier * 0.764;
    line-height: $line * 0.764;
  }
}

body {
  margin: 0 auto;
}

// Pause animations elsewhere when zoomed in somewhere
.z-card * { animation-play-state: paused !important; }
.z-current .z-card * { animation-play-state: running !important; }
.z-current .z-card .z-card * { animation-play-state: paused !important; }

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: hsl($hue-golden-high, 85.4%, 61.8%);
  }

  &:active {
    color: hsl($hue-quarter-low, 85.4%, 61.8%);
  }
}

hr {
  border-color: $border;
}

code {
  color: $purple-body;
}

::selection {
  background: $purple-highlight;
}

::placeholder {
  color: hsl($hue, 9%, 50%);
}

@mixin centered-translate {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
}

.centered-translate { @include centered-translate; }

@mixin centered-margin {
  position: absolute;
  left: 0; top: 0; bottom: 0; right: 0;
  margin: auto;
}

.centered-margin { @include centered-margin; }

/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////

html,
body {
  height: 100%;
  overflow: hidden;
}

body {

}

.new,
.tags {
  margin: 0;
}

.new {
  height: $new-height;
  padding: 0 $card-padding;

  .index & { animation: inFromTop $main-time*2 $main-easing; }

  @media (max-width: #{$l}) {
    padding: 0 $card-padding*2;
  }
}

@keyframes inFromTop {
  0%, 33% { transform: translateY(-200%); }
  100%    { transform: none; }
}

@keyframes inFromBottom {
  0%, 33% { transform: translateY(200%); }
  100%    { transform: none; }
}

.tags {
  height: $tags-height;
  padding: $card-padding*0.5;

  .index & { animation: inFromBottom $main-time*4 $main-easing; }

  @media (max-width: #{$l}) {
    padding: $card-padding;
  }
}

.grid {
  margin: 0;
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
}

.home-grid {
  perspective: 1000px;
  perspective: 100vw;
  perspective-origin: 50% 50%;
  // animation: inFromBottom $main-time*2 $main-easing;
  //
  // .index & { animation: none; }
}

//
// Masthead

.masthead {
  height: $masthead-height;
  position: relative;

  .index & { animation: inFromTop $main-time*2 $main-easing; }
}

.masthead-wrapper {
  padding-left: $line*2.5 + $line*0.5;
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
}

.avatar {
  display: block;
  width: $line*2.5;
  border: 1px solid hsl($hue, 91%, 5.6%);
  position: absolute;
  left: 0; top: $line * -0.25;
}

.name {
  display: inline;
  font-size: 1.146rem;
  line-height: $line;
  margin-right: $line*0.25;
  color: $bright;
}

.title {
  font-size: 0.91rem;
  text-transform: uppercase;
  word-spacing: $narrower-word-spacing;
  color: $purple-body;
}

.links {
  font-style: italic;

  a {
    color: $purple-bright;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      color: $highlight;
    }
  }

  a + a {
    margin-left: $line*0.25;
  }
}

//
// Hookpoints

.z {
  margin: 0;
  position: relative;
  height: 100%;
  float: left;

  // &:hover {
  //   z-index: 2;
  // }
}

.size-2 { width: 50%;   }
.size-3 { width: 33.3%; }
.size-4 { width: 50%;   height: 50%; }
.size-5 { width: 33.3%; height: 50%; }
.size-6 { width: 33.3%; height: 50%; }

.tag.size-2 { width: 50%;  }
.tag.size-3 { width: 33.3%; }
.tag.size-4 { width: 25%;   height: 100%; }
.tag.size-5 { width: 20%;   height: 100%; }
.tag.size-6 { width: 16.6%; height: 100%; }

@media (max-width: #{$l}) {
  .size-2 { width: 50%;   }
  .size-3 { width: 33.3%; }
  .size-4 { width: 25%;   height: 100%; }
  .size-5 { width: 20%;   height: 100%; }
  .size-6 { width: 16.6%; height: 100%; }

  .tag.z-active {
    .size-2, .size-3, .size-4 { width: 50%;   height: 50%;}
    .size-5, .size-6          { width: 33.3%; height: 50%; }
  }

  .tag.size-2 { width: 100%;  height: 50%;}
  .tag.size-3 { width: 100%;  height: 33.3%;}
  .tag.size-4 { width: 100%;  height: 25%;}
  .tag.size-5 { width: 100%;  height: 20%;}
  .tag.size-6 { width: 100%;  height: 16.6%;}
}

.z-active.z-active {
  position: static;
}

//
// Anchors

.z-anchor {
  display: block;
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  margin: 0;
  // transition: border $short-time $main-easing;
  z-index: 3;
  // border: 2px solid transparent;
  // animation: anchorGlow $main-time*10 $main-easing infinite;
  // background-image: linear-gradient(to bottom, rgba($purple-highlight, 0.236) 0%, rgba($purple-highlight, 0) 100%);

  .z-visited & {
    // background-color: hsla($hue-golden-high, 38.2%, 5.6%, 0.236);
  }

  &:hover {
    // border-color: $highlight;
  }

  .z-current > .z-card > &,
  .z-zooming-in &,
  .z-zooming-out & {
    display: none;
  }
}

// @keyframes anchorGlow {
//   0% {
//     background-position: left top;
//   }
//   100% {
//     background-position: left 100%;
//   }
// }

//
// All cards

.z-card {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  border: 3px solid transparent;
  will-change: contents, left, top, right, bottom, transform;
  // transform: translate3d(1, 1, 1);
  transform-style: preserve-3d;
  border-radius: 2px;
  transition:
    border $short-time*0.5 $main-easing,
    transform $main-time $main-easing,
    margin $main-time $main-easing,
    padding $main-time $main-easing
  ;

  .z-active > & {
    // -webkit-filter: none;
    // filter: none;
    margin: 0;
    z-index: 10;
    transition:
      all $main-time $main-easing,
      left $main-time $main-easing $short-time,
      right $main-time $main-easing $short-time
    ;
  }

  .z-zooming-in > &,
  .z-zooming-out > & {
    border-color: $card-fence !important;
  }

  .z-zooming-in > & {
    // transform: scale(0.764);
  }

  .z-zooming-out > & {
    transition-timing-function: $reverse-easing;
    // transform: scale(0.764);
  }

  .z-loaded > & {
    border-color: transparent !important;
    border-width: 0 !important;
  }
}

//
// Article cards

$article-card-zoom: 1.056;

.article {
  &:nth-child(2n) > .z-card { transform: scale($article-card-zoom) rotate(1.8deg); }
  &:nth-child(3n) > .z-card { transform: scale($article-card-zoom) rotate(1.8deg); }
  &:nth-child(5n) > .z-card { transform: scale($article-card-zoom) rotate(1.8deg); }
}

.article.z-visited .z-card {
  // -webkit-filter: grayscale(100%) brightness(61.8%);
  //         filter: grayscale(100%) brightness(61.8%);
  border-color: $card-border;
  // border-width: 2px;
}

.article > .z-card {
  background: $card-background;
  overflow: hidden;
  transform: scale($article-card-zoom) rotate(1.8deg);
  border-color: $card-glow;

  &:hover {
    border-color: $card-highlight;
  }
}

.article.z-active > .z-card {
  transform: none;
  // -webkit-filter: none;
  //         filter: none;
}

.article.z-loaded > .z-card {
  border-radius: 0;
}

.z-scrollable.z-loaded > .z-card {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

//
// Tag cards

.tag > .z-card {
  // border-width: 0px;
}

.tag:not(.z-active) > .z-card:hover {
  .z-card { border-color: $card-highlight; }
}

.tag.z-active > .z-card {
  background: $background;
}

.tag-grid {
  transition: padding $main-time $main-easing $main-time;
  padding: $card-padding;

  .tag.z-active:not(.z-zooming-out) > .z-card & {
    padding: $card-padding*2 $card-padding;
  }

  .tag.z-zooming-out > .z-card & {

  }
}

//
// Tag card contents

.tag-header {
  position: absolute;
  text-align: center;
  left: 50%; bottom: 50%;
  transform: translate(-50%, 50%);
  z-index: 2;
  transition: none $main-time*2 $main-easing;
  transition-property: left, bottom, transform;
  font-size: 2.618rem;
  line-height: $line*2.5;
  color: $highlight;

  @media (max-width: #{$l}) {
    font-size: 2rem;
    line-height: $line*2;
  }

  @media (max-width: #{$m}) {
    font-size: 1.618rem;
    line-height: $line*1.5;
  }

  @media (max-width: #{$xs}) {
    font-size: 1rem;
    line-height: $line;
  }

  .tag.z-active:not(.z-zooming-out) & {
    bottom: $line * 2.75 * 0.5;
    // left: $line * 4;
    line-height: $line * 2.75;
  }
}

.tag-title {
  font-weight: bold;
  // font-style: italic;
  transition: all $main-time $main-easing;
  // white-space: nowrap;
  // padding: 0 23.6%;

  .tag.z-active & {
    color: $bright;
  }

  .tag.z-active:not(.z-zooming-out) > .z-card > .tag-header & {
    // transform: scale(2);
  }
}

//
// Article card contents

.article-header {
  width: 91%;
  text-align: center;
  z-index: 2;
  visibility: visible;
  transition: all $main-time $main-easing;
  font-size: 1.382rem;
  line-height: $line*1.25;
  padding: $line;

  // .article.z-active:not(.z-zooming-out) & {
  //   font-size: 3rem;
  //   line-height: $line*3;
  // }

  @media (max-width: #{$l}) {
    font-size: 1rem;
    line-height: $line;
    padding: $line*0.5;

    // .article.z-active:not(.z-zooming-out) & {
    //   font-size: 2rem;
    //   line-height: $line*2;
    // }
  }

  @media (max-width: #{$m}) {
    font-size: 0.764rem;
    line-height: $line*0.75;

    // .article.z-active:not(.z-zooming-out) & {
    //   font-size: 1.236rem;
    //   line-height: $line*1.25;
    // }
  }
}

.article-title {
  color: $highlight;
  transition: all $main-time $main-easing;
  // white-space: nowrap;
  // padding-right: 41.4%;

  .article.z-active & {
    color: $bright;
    // transform: scale(1.618);
  }

  .article.z-visited & {
    // color: $bright;
  }

  .z .z & {
    transform: scale(0);
  }

  .tag.z-active:not(.z-zooming-out) .z & {
    transform: none;
  }
}

.article-cover {
  position: relative;
  height: 100%;
  transition: all $main-time*2 $main-easing;
  // will-change: transform;
  margin: 0;

  .z-scrollable.z-loaded & {
    // transform: translateY(-38.2vh);
  }
}

.article-content {
  will-change: transform, contents;
  transition:
    transform $main-time*2 $main-easing $short-time,
    visibility 0ms linear
  ;
  margin: 0;
  padding: $line*2 $line;
  visibility: hidden;

  .z-scrollable.z-loaded & {
    transform: translateY(-38.2vh);
    visibility: visible;
  }
}

//
// Article content styles

.subtitle {
  word-spacing: $narrower-word-spacing;
  color: $purple-body;
  font-size: 1.236rem;
  line-height: $line*1.25;
}

.article-content {
  p,
  h1, h2, h3, h4, h5, h6,
  pre,
  ul, ol,
  hr {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
  }

  hr,
  figure {
    margin: $line*2 auto;
  }

  h1, h2, h3, h4, h5, h6 { color: $bright; }
  h1, h4 { font-weight: bold; }
  h3, h6 { font-style: italic; }
  h1, h2, h3 { font-size: 1.618rem; line-height: $line*1.5; }
  h4, h5, h6 { font-size: 1.236rem; line-height: $line*1.25; }

  pre {
    background: $off-background;
    padding: $line;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  figure {
    text-align: center;

    img {
      max-width: 100%;
      margin: 0 auto;
    }
  }

  figcaption {
    font-style: italic;
    color: $dim;
  }

  strong {
    color: $bright;
  }

  a {
    color: $blue;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      color: $bright;
    }

    &[href^="http"]:after {
      content: " ↗";
      word-spacing: -0.475em;
    }
  }
}

//
// Zoom out

.zoom-out {
  position: fixed;
  left: $line * 0.5; bottom: $line * 0.5;
  z-index: 100;
  padding: $line * 0.375 $line * 0.5;
  border-radius: $line * 0.25;
  background: $bright;
  box-shadow: 0 0 $line*0.25 $shadow;
  color: $background;
  line-height: 1;
  margin: 0;
  transform: translateY(200%);
  transition:
    all $short-time $main-easing,
    transform $main-time*1.5 $main-easing $short-time
  ;
  display: none;

  .awesome & { display: block; }

  .z-open & {
    transform: translateY(0%);
    transition:
      all $short-time*0.25 $main-easing,
      transform $main-time*1.5 $main-easing $main-time,
    ;
  }

  &.hover,
  &:hover {
    background: $purple-highlight;
    color: $background;
  }
}

.arrow {
  font-size: 1.414rem;
  vertical-align: middle;
  margin-right: 0.236rem;
}

.esc {
  vertical-align: middle;
}
