@charset "utf-8";

@-ms-viewport {width: device-width;}
    @viewport {width: device-width;}

//
// Normalization & resets for annoyances

@import "normalize";

html * {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
  line-height: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

textarea { resize: vertical; }

//
// Em conversion functions
// pixels to ems & baselines to ems

$font-size: 16;
$line-height: 22;

@function em($pixels, $context-font-size: $font-size) {
  @return ($pixels / $context-font-size) * 1em;
}

@function lines($lines, $context-font-size: $font-size,  $context-line-height: $line-height) {
  @return $lines * ($context-line-height / $context-font-size) * 1em;
}

@function rem($factor, $context-font-size: $font-size) {
  @return ($factor * $context-font-size) / $context-font-size * 1em;
}

//
// Variables

$max-width: lines(40);

//
// Typography

@import "fonts";

@mixin text-font      { font-family: Elena, serif; }
@mixin monospace-font { font-family: Menlo, Consolas, monospace, monospace; }

//
// Colors

$hue-main: 45;

// quarters
$hue-25: $hue-main + (360 * 0.25);
$hue-50: $hue-main + (360 * 0.5);
$hue-75: $hue-main + (360 * 0.75);

// golden ratio ^n
$hue-979: $hue-main + (360 * 0.979);
$hue-965: $hue-main + (360 * 0.965);
$hue-944: $hue-main + (360 * 0.944);
$hue-910: $hue-main + (360 * 0.910);
$hue-854: $hue-main + (360 * 0.854);
$hue-764: $hue-main + (360 * 0.764);
$hue-618: $hue-main + (360 * 0.618);
$hue-382: $hue-main + (360 * 0.382);
$hue-236: $hue-main + (360 * 0.236);
$hue-136: $hue-main + (360 * 0.146);
$hue-090: $hue-main + (360 * 0.090);
$hue-056: $hue-main + (360 * 0.056);
$hue-034: $hue-main + (360 * 0.034);
$hue-021: $hue-main + (360 * 0.021);

// sqrt(2)
$hue-586: $hue-main + (360 * 0.586);
$hue-414: $hue-main + (360 * 0.414);

$background: hsl($hue-main, 38.2%, 5.6%);
$highlight:  hsl($hue-main, 23.6%, 9%);
$border:     hsl($hue-main, 14.6%, 14.6%);

$aside:     hsl($hue-main, 5.6%, 50%);
$body:      hsl($hue-main, 9%, 61.8%);
$emphasis:  hsl($hue-main, 14.6%, 76.4%);

$purple: hsl($hue-618, 61.8%, 23.6%);
$link: hsl($hue-618, 85.4%, 61.8%);

//
// Media queries

$xxs:      "screen and (max-width: 317px)";
$xs:       "screen and (min-width: 318px)";
$s:        "screen and (min-width: 478px)";

$m:        "screen and (min-width: 560px)";

$l:        "screen and (min-width: 780px)";
$xl:       "screen and (min-width: 960px)";
$xxl:      "screen and (min-width: 1100px)";
$xxxl:     "screen and (min-width: 1200px)";
$xxxxl:    "screen and (min-width: 1400px)";
$xxxxxl:   "screen and (min-width: 1700px)";
$xxxxxxl:  "screen and (min-width: 2000px)";

//
// Mixins

@mixin card ($ratio, $w-size:1, $h-size:1) {
  width:  100vw * $ratio * $w-size;
  height: 100vh * $ratio * $h-size;
  font-size: 2vmin * $ratio;
}


//
// Basic styles

html,
body {
  height: 100%;
  overflow: hidden;
}

html {
  background: $background;
}

body {
  @include text-font;
  font-size: em($font-size, 16);
  line-height: $line-height/$font-size;
  color: $body;
  -webkit-tap-highlight-color: transparentize($link, 0.5);
}

a {
  color: $link;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $emphasis;
  }

  &:active {
    color: $aside;
  }
}

h1, h2, h3, h4, h5, h6,
strong, b {
  color: $emphasis;
}

code {
  @include monospace-font;
}

::selection      { background: $link; color: $emphasis; }
-moz-::selection { background: $link; color: $emphasis; }

/////////////////////////////////////////////////////////

h1 {
  font-size: em(42);
  line-height: lines(2, 42);
}

.site-canvas {
  width: 100vw;
  height: 100vh;
  background: $highlight;
  transform: translate3d(0,0,0);
  transition: all 0.333s ease-out;
}

.target-canvas {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  display: none;
}

.initial-zoomable {
  overflow: hidden;
}

.site-header {
  @include card(1/4, 4);
  font-size: 3vmin;
  text-align: center;

  h1 {
    padding: lines(1.333, 42) 0 0;
  }
}

.card {
  @include card(1/4);
  text-align: center;
  float: left;
  position: relative;
  transform: translate3d(0,0,0);
}

.card-content {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: $background;
  padding: lines(3);
}

.card-link {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  border: 1px solid $highlight;
  z-index: 100;

  .current-zoomable > & {
    display: none;
  }

  &:hover,
  &:focus {
    background: transparentize($purple, 0.854);
    cursor: zoom-in;
    border-color: $link;
  }
}
