@font-face {
  font-family: 'Elena';
  font-weight: normal;
  font-style: normal;
  src:
    url('ElenaWebBasic/ElenaWebBasicRegular.woff2') format('woff2'),
    url('ElenaWebBasic/ElenaWebBasicRegular.woff') format('woff')
  ;
}

@font-face {
  font-family: 'Elena';
  font-weight: normal;
  font-style: italic;
  src:
    url('ElenaWebBasic/ElenaWebBasicRegularItalic.woff2') format('woff2'),
    url('ElenaWebBasic/ElenaWebBasicRegularItalic.woff') format('woff')
  ;
}

@font-face {
  font-family: 'Elena';
  font-weight: bold;
  font-style: normal;
  src:
    url('ElenaWebBasic/ElenaWebBasicBold.woff2') format('woff2'),
    url('ElenaWebBasic/ElenaWebBasicBold.woff') format('woff')
  ;
}

@font-face {
  font-family: 'Elena';
  font-weight: bold;
  font-style: italic;
  src:
    url('ElenaWebBasic/ElenaWebBasicBoldItalic.woff2') format('woff2'),
    url('ElenaWebBasic/ElenaWebBasicBoldItalic.woff') format('woff')
  ;
}
