/*

Adapted from https://gist.github.com/nicolashery/5765395

NAME      HEX      ROLE
--------- -------- ------------------------------------------
base03    transparent background
base01    $dim        comments / secondary content
base1     $purple-body       body text / default code / primary content
orange    $orange     constants
red       $red        regex, special keywords
blue      $blue       reserved keywords
cyan      $cyan       strings, numbers
green     $green      operators, other keywords
yellow    $yellow     something
*/

.highlight { background-color: transparent; color: $purple-body }
.highlight .c { color: $dim } /* Comment */
.highlight .err { color: $purple-body } /* Error */
.highlight .g { color: $purple-body } /* Generic */
.highlight .k { color: $green } /* Keyword */
.highlight .l { color: $purple-body } /* Literal */
.highlight .n { color: $red } /* Name */
.highlight .o { color: $green } /* Operator */
.highlight .x { color: $orange } /* Other */
.highlight .p { color: $purple-body } /* Punctuation */
.highlight .cm { color: $dim } /* Comment.Multiline */
.highlight .cp { color: $green } /* Comment.Preproc */
.highlight .c1 { color: $dim } /* Comment.Single */
.highlight .cs { color: $green } /* Comment.Special */
.highlight .gd { color: $cyan } /* Generic.Deleted */
.highlight .ge { color: $purple-body; font-style: italic } /* Generic.Emph */
.highlight .gr { color: $red } /* Generic.Error */
.highlight .gh { color: $orange } /* Generic.Heading */
.highlight .gi { color: $green } /* Generic.Inserted */
.highlight .go { color: $purple-body } /* Generic.Output */
.highlight .gp { color: $purple-body } /* Generic.Prompt */
.highlight .gs { color: $purple-body; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: $orange } /* Generic.Subheading */
.highlight .gt { color: $purple-body } /* Generic.Traceback */
.highlight .kc { color: $orange } /* Keyword.Constant */
.highlight .kd { color: $blue } /* Keyword.Declaration */
.highlight .kn { color: $green } /* Keyword.Namespace */
.highlight .kp { color: $green } /* Keyword.Pseudo */
.highlight .kr { color: $blue } /* Keyword.Reserved */
.highlight .kt { color: $red } /* Keyword.Type */
.highlight .ld { color: $purple-body } /* Literal.Date */
.highlight .m { color: $cyan } /* Literal.Number */
.highlight .s { color: $cyan } /* Literal.String */
.highlight .na { color: $blue } /* Name.Attribute */
.highlight .nb { color: $yellow } /* Name.Builtin */
.highlight .nc { color: $orange } /* Name.Class */
.highlight .no { color: $orange } /* Name.Constant */
.highlight .nd { color: $blue } /* Name.Decorator */
.highlight .ni { color: $orange } /* Name.Entity */
.highlight .ne { color: $orange } /* Name.Exception */
.highlight .nf { color: $blue } /* Name.Function */
.highlight .nl { color: $blue } /* Name.Label */
.highlight .nn { color: $orange } /* Name.Namespace */
.highlight .nx { color: $purple-body } /* Name.Other */
.highlight .py { color: $purple-body } /* Name.Property */
.highlight .nt { color: $yellow } /* Name.Tag */
.highlight .nv { color: $blue } /* Name.Variable */
.highlight .ow { color: $green } /* Operator.Word */
.highlight .w { color: $purple-body } /* Text.Whitespace */
.highlight .mf { color: $cyan } /* Literal.Number.Float */
.highlight .mh { color: $cyan } /* Literal.Number.Hex */
.highlight .mi { color: $cyan } /* Literal.Number.Integer */
.highlight .mo { color: $cyan } /* Literal.Number.Oct */
.highlight .sb { color: $dim } /* Literal.String.Backtick */
.highlight .sc { color: $cyan } /* Literal.String.Char */
.highlight .sd { color: $purple-body } /* Literal.String.Doc */
.highlight .s2 { color: $cyan } /* Literal.String.Double */
.highlight .se { color: $orange } /* Literal.String.Escape */
.highlight .sh { color: $purple-body } /* Literal.String.Heredoc */
.highlight .si { color: $cyan } /* Literal.String.Interpol */
.highlight .sx { color: $cyan } /* Literal.String.Other */
.highlight .sr { color: $red } /* Literal.String.Regex */
.highlight .s1 { color: $cyan } /* Literal.String.Single */
.highlight .ss { color: $cyan } /* Literal.String.Symbol */
.highlight .bp { color: $blue } /* Name.Builtin.Pseudo */
.highlight .vc { color: $blue } /* Name.Variable.Class */
.highlight .vg { color: $blue } /* Name.Variable.Global */
.highlight .vi { color: $blue } /* Name.Variable.Instance */
.highlight .il { color: $cyan } /* Literal.Number.Integer.Long */
