---
title: "<span class='line'>About Me &</span> <span class='line'>What I&rsquo;m doing</span>"
subtitle: "I'm a Finnish web designer, splitting my time between web app design at [Kisko](http://www.kiskolabs.com) and building stuff on my own."
tags: "new"
date: 2015/08/13
cover: true
scrollable: true
---

markdown:
  
  # What I'm currently working on
    
  **Bringing zoomable user interfaces to the web.** I've worked on _ZUIs_ and other alternative interfaces, like _infinite canvas systems_ and _[bi-directional layouts](/bi-directional-layout/)_, since 2012.
  
  **Designing alternative ways to represent web content.** Does everything have to be a scrollable document? Could web pages be more like little video games or "simulations"?
  
  **Designing VR and AR concepts.** Two ideas that intrigue me: tying web content to physical locations in the world, and using URLs to point at virtual spaces instead of virtual documents.
  
  **Attempting game development on the web.** I'm especially interested in coming up with more _sustainable_ models for large-scale multiplayer games (something like using P2P instead of a central server), but I have no idea what I'm doing.
  
  # How to contact me
  
  - The fast way: [@jonikorpi](https://twitter.com/jonikorpi) on Twitter.
  - The slow way: [me@jonikorpi.com](mailto:me@jonikorpi.com).
  
  # How to support what I'm doing
  
.abc
  markdown:
    1. Gift me a book off my [Amazon wish list](http://www.amazon.co.uk/registry/wishlist/3DNZ9C088YCXL).
    2. Gift me a game off my [Steam wish list](http://steamcommunity.com/id/siegedbybears/wishlist/). (You can use _[me@jonikorpi.com](mailto:me@jonikorpi.com)_ as the recipient.)
    3. Tell me something encouraging on [Twitter](https://twitter.com/jonikorpi).

markdown:
  # Where else to find me

  - Things I've backed: [Kickstarter profile](http://www.kickstarter.com/profile/89875074).
  - The games I play: [Steam profile](http://steamcommunity.com/id/siegedbybears/).
  - The music I buy: [Bandcamp profile](https://bandcamp.com/jonikorpi).
