---
title: "<span class='line'>Kausi</span>"
subtitle: "A textarea for every day."
tags: "new"
date: 2015/11/2
scrollable: true
cover: true
---

markdown:

  [Kausi](https://kausi.xyz) is the first app I've designed, built and released as [Vuoro](http://vuoro.design/). I'm developing it as a personal tool, using it every day and building it slowly over a long period of time.
  
  The design was inspired by [TeuxDeux](http://teuxdeux.com/)'s concept of combining todos and calendar entries. I focused on the same concept, but tried to improve its editability and flexibility.
  
  The result is something between a todo list, a calendar and a micro-journal: every day has a &lt;textarea&gt; that auto-saves as you type into it.
  
  [Kausi](https://kausi.xyz) runs on my new favourite tech stack:
  
  - [Firebase](http://firebase.google.com/) for a ridiculously fast database.
  - [create-react-app](https://github.com/facebookincubator/create-react-app) for an easy React-development environment.
  - [Zeit Now](https://zeit.co/now) for hassle-free hosting.
