---
title: Work at Kisko Labs
tags: "Work in 2012–2014"
date: 2015/07/15
---

%header.header-section.padded-section
  %h1 Work at Kisko Labs
  %p Here I'm going to write about stuff that I've done at Kisko thusfar and what I've learned from it.
