---
title: Little Picture
tags: "Writing in 2008–2012"
date: 2010/04/01
published: false
---

%header.header-section.padded-section
  %h1 Little Picture
  %p A short-lived blog I had in 2011.

%section.padded-section.markdown-content
  :markdown
    TODO: archive content here somehow.
