---
title: "Adaptive Web Design: As applied to the design process of a web application"
subtitle: "My final thesis for my Bachelor's Degree in Media Technology at Metropolia."
date: 2012/03/16
tags: "Old Writing"
scrollable: true
---

markdown:
  _TODO: archive it here properly. [PDF is here](http://www.jonikorpi.com/files/metropolia-thesis.pdf)._

  # Summary

  This thesis explored the usage of adaptive web design techniques in the design process of a reservation and inventory management web application, New Reserve. It attempted to uncover issues a designer is likely to face when moving from a traditional web design process to an adaptive one.

  Most issues uncovered were related to keeping visual design appealing and attempting to support multiple input methods, such as touch screens and mice, at the same time.

  Using a fluid grid for visual design was found to be difficult, as they caused problems when elements start stretching beyond their optimal maximum dimensions, and when element dimensions are determined in a mix of percentage units and absolute units. Intentionally leaving empty space in wide designs and using the alternative "border-box" model were found to alleviate these problems.

  Using the "Mobile First" approach for design was found to be recommended, as the amount of mobile internet users is set to overtake desktop internet users very soon. The approach also helps in keeping designs cruft-free. Making images adapt to mobile sizes and bandwidth restrictions was found to be difficult, but there is hope for a standards-based technique to deal with this in the near future.

  Using progressive enhancement was found to be the key in developing a web application with features accessible by a wide array of devices. Forcefully adding support for features using polyfills was found to require caution, as a single polyfill may not be suitable for all input methods.
