img.w-4.h-7.hook-left.off-left-1 src="/images/jonikorpi-v8-cover-1.jpg"
img.w-4.h-10.hook-left.off-left-4 src="/images/jonikorpi-v8-cover-2.jpg"
img.w-4.h-8.hook-right.off-right-5 src="/images/jonikorpi-v8-cover-3.jpg"
img.w-4.h-9.hook-right.off-right-2 src="/images/jonikorpi-v8-cover-4.jpg"
