.center-v.h-7.w-1.dark.off-left-1
.center-v.h-7.w-1.dark.off-left-3
.center-v.h-7.w-1.dark.off-left-4
.center-v.h-7.w-1.dark.off-left-45

.center-v.w-1.red.off-left-5
.center.w-1.red
.center-v.w-1.red.off-right-5

.center-v.h-7.w-1.dark.off-right-45
.center-v.h-7.w-1.dark.hook-right.off-right-4
.center-v.h-7.w-1.dark.hook-right.off-right-3
.center-v.h-7.w-1.dark.hook-right.off-right-1
