.dark.w-10.h-10.center
.hook-bottom.bright.h-2
.hook-bottom.dim.h-2.off-bottom-2

.hook-top-left.off-top-4.off-left-3.blue.h-2.w-6
.hook-top-left.off-top-5.off-left-3.bright.w-5.h-1

.hook-top-left.center-v.off-left-3.bright.w-6.h-1

.hook-bottom-left.off-bottom-5.off-left-3.bright.w-7.h-1
