.dark.w-9.h-10.center

.purple-highlight.off-top-5.h-7.w-3.hook-top-left.off-left-1
.purple-highlight.off-top-5.h-7.w-3.hook-top-left.off-left-4

.purple-highlight.off-top-5.h-7.w-3.center-h
.purple-highlight.off-top-5.h-7.w-3.hook-top-right.off-right-4
.purple-highlight.off-top-5.h-7.w-3.hook-top-right.off-right-1
