- classes = "size-#{size} "
- if article.title == current_page.data.title
  - classes += "z-current z-active "

%article.z.article{"data-id" => article.url, "data-title" => article.data.title, class: classes}
  .z-wrapper
    .z-content
      %header.article-header
        %h1= article.title
      .article-content
        - if article.title == current_page.data.title
          = article.body
    %a.z-anchor{href: article.url}
