%article.card.zoomable.sizeable{id: card.url, "data-id" => card.url, "data-title" => card.data.title}

  .zoomable-content
    = yield

    - card.children.select { |card| card.ext == ".html"}.each do |childCard|
      = partial "card", :locals => {card: childCard} do
        = childCard.render({:layout => false})

  %a.card-link.zoomable-anchor{href: "#{card.url}"}
