.canvas{"data-id" => "/", "data-title" => "Joni Korpi", class: data.page.root ? 'current-zoomable' : ''}

  .masthead
    %h1.logo Joni Korpi

  .grid
    - 13.times do |index|
      - cardList = sitemap.resources.select { |card| card.ext == ".html" && !card.data.root && !card.data.unpublished && card.data.weight == index+1 }
      - if cardList.any?
        .row
          - cardList.each do |card|
            = partial "card", :locals => {card: card} do
              = card.render({:layout => false})
