.canvas{"data-id" => "/", "data-title" => "Joni Korpi", class: data.page.root ? 'current-zoomable' : ''}

  .masthead
    %h1.logo Joni Korpi

  .grid
    - 4.times do
      .row
        - sitemap.resources.select { |card| card.ext == ".html" && !card.data.root && !card.data.unpublished }.sort_by { |card| card.data.weight }.each do |card|
          = partial "card", :locals => {card: card} do
            = card.render({:layout => false})
