- articles = sitemap.where(:tags.include => tag).order_by(date: :desc).all

- containsActiveArticle = false
- articles.each do |article|
  - if article.title == current_page.data.title
    - containsActiveArticle = true

- classes = "size-#{tagAmount} "
- if containsActiveArticle
  - classes += "z-active "

%section.z.tag{class: classes, "data-title" => tag}
  .z-wrapper
    .z-content
      .grid
        .grid-header
          %h1.tag-heading= tag
        .row
          - articles.each do |article|
            = partial "article", :locals => {:article => article, :size => articles.size}
    %a.z-anchor{href: "/"}
