---
title: About
top: true
weight: 1
scrollable: true
unpublished: true
---

%header.header-section.padded-section
  %h1 About me
  %p A Finnish web designer. Currently working on zoomable user interfaces on the web.

%section.unpadded-section.markdown-content
  %figure.small-figure
    = image_tag "avatar.png"

%section.padded-section.markdown-content
  :markdown


    - [Twitter](http://twitter.com/jonikorpi/)
    - [me@jonikorpi.com](mailto:me@jonikorpi.com)
