---
title: Atom Theme
weight: 3
inside: /recent-work/
scrollable: true
---

%header.header-section.padded-section
  %h1 Atom theme
  %p Based on Light Table and Solarized.

%section.padded-section.markdown-content
  :markdown
    <https://atom.io/themes/jonikorpi-atom-theme-ui>

    <https://atom.io/themes/jonikorpi-atom-solarized-syntax>
