---
title: Atom UI Theme
top: true
weight: 3
---

%h1 atom ui theme content

%h2= link_to "Card-to-card-link", "/about/", class: "zoomable-link"

.fake-paragraphs
  - 24.times do
    %p= lorem.paragraph
