---
title: Work at Kisko Labs
weight: 8
inside: /recent-work/
scrollable: true
---

%header.header-section.padded-section
  %h1 Work at Kisko Labs
  %p Here I'm going to write about stuff that I've done at Kisko thusfar and what I've learned from it.
